<body>    
    <nav>
        <div>
            <h1><a href="/">EXAMINOTRON</a> |<span>Share your knowledge!</span></h1>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Create">New Quiz</a></li>
            <li><a href="/Test">Take a test</a></li>
        </ul>
    </nav>    