<%- include("./partials/head.ejs") %>

    <%- include("./partials/nav.ejs") %>
    <main>
        <h1>This page doesn't exist, please check the address</h1>
    </main>
    

<%- include("./partials/footer.ejs") %>


